.sticky {
    position: fixed;
    z-index: 10;
  }
  .navbar--container {
    top: 5%;
    background: var(--white);
    box-shadow: 2px 2px 15px rgba(var(--dark), .1);
    @media only screen and (min-width:600px){
      top: 15%;
    }
  }
  .navbar--icon {
    margin-top: 24px;
    margin-left: 49px;
    font-size: 1em;
    &:hover {
      color: var(--main);
      cursor: pointer;
    }
  }
  .navbar--title {
    margin-top: 35px;
    display: none;
    h4 {
      writing-mode: vertical-rl;
      font-family: "Zilla Slab";
      letter-spacing: .34em;
      text-transform: uppercase;
      font-size: 0.9em;
  
    }
    @media only screen and (min-width:600px){
      display: block;
    }

  }
  
  //navigation open
  
  .nav{
    height: 100vh;
    width: 300px;
    background: var(--white);
    transition: var(--ease-slow);
    opacity: 1;
    box-shadow: 2px 2px 15px rgba(var(--dark), .1);

    &.nav--close {
      transform: translateX(-300px);
      transition: var(--ease-slow);
      opacity: 0;
    }
  }

  
  .nav--open-title {
    font-family: "Zilla Slab";
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-align: center;
    margin-top: 35%;
    
  }
  
  .nav--open-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    a {
      font-size: 2em;
      font-weight: 100;
      font-family: "Zilla Slab";
      padding: 15px 0;
    }
  }
  


  .nav__button {
    background: transparent;
    border: none;
    padding:5px;
    font-size: 25px;
    &--close {
      position: absolute;
      right: 10px;
    }
   
    &--open {
      text-align: right;
      padding: 20px;
      i {
        font-size: 1.8em;
        color: var(--main);
        &:hover {
          color: var(--dark);
          cursor: pointer;
        }
      }
    }
  }
