#about,
#contact
{
    h1{
        font-size: 14vw;  
    }
}
#about {
    min-height: 90vh;
    h1{        
        animation-name: fadeIn;
        -webkit-animation-name: fadeIn;	

        animation-duration: .8s;	
        -webkit-animation-duration: .8s;

        animation-timing-function: ease-in-out;	
        -webkit-animation-timing-function: ease-in-out;	
    }
}
#work {
    min-height: 0;
    padding-block: 15vh;

    h2 {
        margin-block-start:0 ;
        margin-block-end: 50px;
    }
    align-items: flex-start;
    .work-links {
        display: flex;
        gap: 5vw;
        flex-wrap: wrap;
    }
    .work-link {
        font-size: 30px;
        text-transform: uppercase;
        padding: 10px 15px;
        border-radius: 5px;
        color:var(--white);
        background-color: var(--link-color);
    }

}
#contact {
    align-items: flex-start;
    h2 {
        font-size: 8vw;
        margin-block-start:0 ;
        margin-block-end: 50px;
    }
    #contact-info {
        display: flex;
        gap: 5vw;
        .link--icon{
            font-size: 10vw;
        }
    }
}




@keyframes fadeIn {
	0% {
		-webkit-transform: translateX(-5%);
		opacity: 0.0;		
	}
	80% {
	
		opacity: 1;	
	}	
	100% {
		opacity: 1;	
	}	
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: translateX(-5%);
		opacity: 0.0;		
	}
	80% {
	
		opacity: 1;	
	}	
	100% {
		opacity: 1;	
	}		
}
