@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


.zilla-slab-light {
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  font-style: normal;
}

.zilla-slab-light-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  font-style: italic;
}

.zilla-slab-regular {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: normal;
}

.zilla-slab-regular-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: italic;
}

.zilla-slab-medium {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-style: normal;
}

.zilla-slab-medium-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-style: italic;
}

.zilla-slab-semibold {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-style: normal;
}

.zilla-slab-semibold-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-style: italic;
}

.zilla-slab-bold {
  font-family: "Zilla Slab", serif;
  font-weight: 700;
  font-style: normal;
}

.zilla-slab-bold-italic {
  font-family: "Zilla Slab", serif;
  font-weight: 700;
  font-style: italic;
}



$white: #ffffff;
$main: #92BFB1;
$dark: #333333;

$ease-slow: all .4s ease-out;

body {
  margin: 0;
  background: lighten($main, 10%);
}

a {
  text-decoration: none;
  color: $main;
  &:hover {
    background: $main;
    color: $dark;
  }
}


h1 {
  font-family: "Zilla Slab";
  margin: 0;
  line-height: 1em;
  font-weight: 500;
  color: $white;
  font-size: 3.5em;
  span {
    font-style: italic;
    text-decoration: underline;
    color: darken($main, 10%);
  }
}

.light {
  color: lighten($main, 10%);
}

.underline {
  text-decoration: underline;
}

#contact-info {

  text-align: center;
  display: flex;
  gap: 20px;

  a{ color:rgb(90, 46, 193);font-size: 44px;}

}
#about{
  .reveal-effect{
    margin-inline-end: 0;
  }
  .reveal-effect__item{ 
    padding-inline: 25% 0;
    text-align: left;
    text-transform: none;
  }
  .reveal-effect__text {
    animation-duration: 2.5s;
  }
}