@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


.libre-baskerville-regular {
  font-family: "Kalnia", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Kalnia", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}


$white: #ffffff;
$main: #92BFB1;
$dark: #333333;

$ease-slow: all .4s ease-out;

body {
  margin: 0;
  background: lighten($main, 10%);
}

a {
  text-decoration: none;
  color: $main;
  &:hover {
    background: $main;
    color: $dark;
  }
}


h1 {
  font-family: Kalnia;
  margin: 0;
  line-height: 1em;
  font-weight: 400;
  color: $white;
  font-size: 3.5em;
  span {
    font-style: italic;
    text-decoration: underline;
    color: darken($main, 10%);
  }
}

.light {
  color: lighten($main, 10%);
}

.underline {
  text-decoration: underline;
}